// ---------------------------------------------------
// TYPOGRAPHY TYPOGRAPHY TYPOGRAPHY TYPOGRAPHY

h1 {
	font-size: 4rem;
	margin: .25em 0;
}

h2 {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.5em;
}

p {
	font-size: 1.6rem;
	line-height: 1.35em;
}

label {
	font-size: 1.4rem;
	margin-top: .5em;
	display: block;
	line-height: 1.5em;
}

input {
	margin-right: .5em;
}

.emoji {
	font-size: 2em;
}

// TYPOGRAPHY TYPOGRAPHY TYPOGRAPHY TYPOGRAPHY
// ---------------------------------------------------