@import '_variables';
@import '_normalize';
@import '_layout';
@import '_typography';
@import '_theme';

// Love this
@media (prefers-reduced-motion: no-preference) {
  // Put animation in here
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

// ---------------------------------------------------
// APP APP APP APP APP

.app {
  min-height: 100vh;
  margin: 0 auto;
}

.logo {
	width: 75px;
	height: auto;

	&-svg {
		fill: var(--c-tertiary);
	}

	.cls-3{
		fill:url(#linear-gradient-2);
	}
}

header {
	padding: 25px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

main {
	padding: 25px;
}

// APP APP APP APP APP
// ---------------------------------------------------


// ---------------------------------------------------
// HOME HOME HOME HOME

.home {
  text-align: center;

  span {
  	font-family: 'Open Sans', sans-serif;
  	font-style: italic;
  }
}

// HOME HOME HOME HOME
// ---------------------------------------------------

// ---------------------------------------------------
// CARD CARD CARD CARD

.card {
	position: relative;
	width: 100%;
	max-width: 760px;
	background-color: var(--c-lightest);

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: -2em;
		right: -2em;
		background-color: var(--c-tertiary);
		z-index: -10;
		transition: transform .1s ease-in-out;
	}

	&::after {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		pointer-events: none;
		top: 0px;
		left: 0px;
		border: 2px solid var(--c-tertiary); 
		z-index: 10;
	}

	&-wrapper {
		overflow: hidden;
		padding: 3rem;
		position: relative;
		z-index: 11;

		@media screen and (min-width: $medium) {
		    padding: 5rem 8rem;
		 }
	}

	&-number {
		font-size: 1rem;
		font-weight: 700;
	}

	* {
		position: relative;
		z-index: 2;
	}

	form {
		padding-left: 2em;
		margin-bottom: 1em;
	}
}

.sign {
	position: absolute;
	left: 50%;
	transform: translateX(-50%) rotate(180deg);
	bottom: calc(100% - 20px);
	font-size: 1.6rem;
	font-weight: 700;
	transform-origin: 50% 100%;
	z-index: -1;
	transition: all .75s cubic-bezier(0,.44,.12,1.01);

	&-active {
		transform: translateX(-50%) rotate(0deg);
	}

	& > * {
		border: 2px solid var(--c-tertiary);
		background-color: var(--c-secondary);
		margin: 0 auto;
	}
	
	&-board {
		padding: 15px 20px;
	}

	&-post {
		width: 1em;
		height: 3em;
		overflow: hidden;

		&::after {
			content: '';
			height: 6px;
			width: 50px;
			left: -10px;
			display: block;
			background-color: var(--c-tertiary);
			position: relative;
			transform: rotate(18deg);
		}
	}
}

// CARD CARD CARD CARD
// ---------------------------------------------------

// ---------------------------------------------------
// BUTTON BUTTON BUTTON BUTTON

.shadow {
	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: -.25em;
		right: -.25em;
		background-color: var(--c-dark);
		z-index: -10;
		transition: transform .1s ease-in-out;
	}

	&:hover {
		&::before {
			transform: translate(.5em, .5em);
		}
	}
}

.btn {
	position: relative;
	border: none;
	color: white;
	padding: .75em 2em;
	font-size: 14px;

	&-submit {
		@extend .btn;
		@extend .shadow;
		background-color: var(--c-primary);
		margin: 2em auto;
		transition: transform .3s cubic-bezier(.15,.72,.92,.37);
		padding: 1em 2.5em;
		font-size: 16px;
	}

	&-primary {
		@extend .btn;
		background-color: var(--c-primary);
		margin-top: 1em;
		margin-right: 10px;
		margin-left: auto;
	}

	&-secondary {
		@extend .btn;
		background-color: var(--c-alternate);
		margin-top: 1em;
		margin-right: 10px;
		margin-left: auto;
	}

	&[disabled] {
		background-color: var(--c-disabled);
		cursor: not-allowed;
	}
}

// BUTTON BUTTON BUTTON BUTTON
// ---------------------------------------------------


// ---------------------------------------------------
// EXPLANATION EXPLANATION EXPLANATION EXPLANATION

.explanation {
	transform: translateY(101%);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: .75s all cubic-bezier(.74,.14,.12,1.01);
	background-color: var(--c-alternate);
	color: var(--c-lightest);

	div {
		padding: 3em;

		@media screen and (min-width: $medium) {
		    padding: 5rem 8rem;
		}

	}

	h2 {
		font-weight: 700;
	}

	h2, p {
		opacity: 0;
		transform: translateY(50px);
		transition: 2.5s all cubic-bezier(.22,.94,.12,1.01);
		transition-delay: .3s;
	}

	p {
		transition-delay: .5s;
	}

	&.active {
		transform: translateY(0%);

		h2, p {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

.explanation-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	border: 2px solid var(--c-darkest);
	border: none;
	border-radius: 50px;
	height: 35px;
	width: 35px;
	background-color: var(--c-secondary);
	color: var(--c-tertiary);
	font-weight: 700;

	body.theme-dark & {
		background-color: var(--c-darkest);
	}

	span {
		font-size: 1.4rem;
	}
}

// EXPLANATION EXPLANATION EXPLANATION EXPLANATION
// ---------------------------------------------------

